ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
    color: rgb(197, 132, 132); 
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
img{
    filter: invert();
}

  li hover {
    background-color: #111;
  }
  
img{
    display: block;
}

  li {
      color: rgb(228, 158, 168);
      img {display: none;}
    }

  @media screen and (min-width: 450px) {
    li {
      color: rgb(173, 173, 238);
    }
  }
  
  @media screen and (min-width: 900px) {
    li {
      color: rgb(135, 199, 135);
    }
  }
  