/* mobile */
h1 {
    color: red;
  }
  
  /* tablet */
  @media screen and (min-width: 450px) and (max-width: 899px) {
    h1 {
      color: blue;
    }
  }
  
  /* larger tablets */
  @media screen and (min-width: 400px) and (max-width: 449px) {
    h1 {
      color: brown;
    }
  }
  
  /* desktop */
  @media screen and (min-width: 900px) {
    h1 {
      color: green;
    }
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  